@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Chick Flix<br />
    Detroit, MI 48226<br />
    <abbr title="Phone">P:</abbr>
    313.555.0000
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:Support@example.com">chickflix@example.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>