@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chick Flix</h1><h2>provides the best flix for ladies on DVD</h2><br />
    <h3>To see a list of all movies currently playing in theaters, check out IMDb</h3>
    <p class="lead"></p>
    <p><a href="http://www.imdb.com/movies-in-theaters/" class="btn btn-primary btn-lg">IMDb&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gourmet Popcorn</h2>
        <p>
            What ladies movie night would be complete without the best snacks? Good people good popcorn is a Detroit based company located in Brick Town with the best and craziest flavors available!
        </p>
        <p><a class="btn btn-info" href="http://www.goodpeoplepopcorn.com/flavors-more/">Good people <br /> Good Popcorn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Order Pizza</h2>
        <p>Gourmet pizza is another great addition to a movie night! Supino Pizzeria is a Detroit based company located in Eastern Market and it was rated the #1 pizzeria in Detroit!</p>
        <p><a class="btn btn-success" href="http://supinopizzeria.com/menu.pdf">Supino <br /> Pizzeria &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sweet Tooth</h2>
        <p>Complete your ladies night with some sweet treats. Astoria Pastry Shop is a Detroit based company located in Greektown with a variety of baked goods that will knock your socks off!</p>
        <p><a class="btn btn-danger" href="http://www.astoriapastryshop.com/index.asp">Astoria <br /> Pastry Shop &raquo;</a></p>
    </div>
</div>